<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <appSettings>
    <!---->
    <add key="IdentityBaseUrl" value="https://apps.debug.ochap.local/" />
    <!---->
    <add key="DnsDynamicAllow" value="debian.org,kernel.org,ochap.local,ubuntu.com" />
    <add key="DnsDynamicAllowContains" value=".local,.net,.org" />
    <add key="DnsDynamicAllowRegEx" value="[a-zA-Z0-9]*\.local$" />
    <add key="DnsDynamicDeny" value="debian.org,kernel.org,ochap.local,ubuntu.com" />
    <add key="DnsDynamicDenyContains" value=".local,.net,.org" />
    <add key="DnsDynamicDenyRegEx" value="[a-zA-Z0-9]*\.local$" />
    <!---->
    <add key="IpDynamicAllow" value="192.168.0.0/16,172.16.0.0/12,10.0.0.0/8,::1" />
    <add key="IpDynamicDeny" value="192.168.0.0/16,172.16.0.0/12,10.0.0.0/8,::1" />
    <!---->
  </appSettings>
  <elmah>
    <errorMail from="Elmah.Bhbk.WebApi.Sample.WebApi@ochap.net" to="exception@ochap.net" async="true" smtpServer="mail.ochap.net" smtpPort="25" />
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>